<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Mole</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 

    <!-- Registration Overlay -->
    <div id="register-overlay">
    <div class="modal">
        <h2>Enter Your Name</h2>
        <input
        type="text"
        id="name-input"
        placeholder="Your name…"
        autofocus
        />
        <button id="register-btn">Join Game</button>
    </div>
    </div>
    
    <h1>The Mole</h1>
    <div id="viewer-info">
        <strong>Players:</strong> <span id="count">0</span>
    </div>

    <div id="game-info" style="margin-top:1em" class="container">
        <p id="word-display"></p>
    </div>
    
    <button id="newgame-btn" class="btn btn-success">New Game</button>

    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>