<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chameleon Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body> 
    
    <h1>Welcome to Chameleon</h1>
    <div id="viewer-info">
        <strong>Players:</strong> <span id="count">0</span>
    </div>

    <button id="newgame-btn" class="btn btn-success">New Game</button>
    <div id="game-info" style="margin-top:1em">
        <p id="word-display"></p>
    </div>

    <script src="{{url_for('static', filename='script.js')}}"></script>

</body>
</html>